# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: mixed-line-ending
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=99000]
      - id: check-json
      - id: forbid-submodules
      - id: end-of-file-fixer
      - id: debug-statements
      - id: check-ast

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        exclude: >
          (?x)^(
            tests/cassettes/.*|
            tests/.*|
            uv.lock|
            package-lock.json|
            \.github/workflows/.*\.yaml
          )$

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--ignore-words=.codespell-ignore-words.txt]
        exclude: >
          (?x)^(
            tests/cassettes/.*|
            uv.lock|
            .*package-lock\.json
          )$

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
